<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{$time}</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="{:Url('/')}static/layui/css/layui.css"  media="all">
  <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
  <style type="text/css">
  /*.layui-body{overflow-y: scroll;}*/
  /*body{overflow-y: scroll;}*/
  </style>
</head>
<body> 
 
<!-- <div class="demoTable">
  客户编号：
  <div class="layui-inline">
    <input class="layui-input" name="id" id="demoReload" autocomplete="off">
  </div>
  <button class="layui-btn" data-type="reload">搜索</button>
  <button class="layui-btn layui-btn-normal" data-type="export">导出</button>
</div> -->

 
<table class="layui-hide" id="LAY_table_user" lay-filter="user"></table> 

<script type="text/html" id="barDemo">
  <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
          
<script src="{:Url('/')}static/layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
layui.use('table', function(){
  var table = layui.table;
  
  //方法级渲染
  table.render({
    elem: '#LAY_table_user'
    ,url: '../json/admin_list.html'
    ,cols: [[
      {checkbox: true, fixed: true}
      // {type:'numbers'}
      ,{field:'id', title: 'ID', sort: true, width:50, align: 'center'}
      ,{field:'username', title: '登录名', width:120, align: 'center'} //width 支持：数字、百分比和不填写。你还可以通过 minWidth 参数局部定义当前单元格的最小宽度，layui 2.2.1 新增
      ,{field:'nickname', title: '姓名', width:100, align: 'center'}
      ,{field:'phone', title: '手机', width:120, align: 'center'}
      ,{field:'email', title: '邮箱', width:150, align: 'center'}
      ,{field:'last_login_time', title: '最后登录时间',sort: true, width:350, align: 'center'}
      ,{field:'last_login_time', title: '最后登录地点', width:180, align: 'center'}
      ,{field: 'status', title: '状态', width:100, align:'center',templet:function(row){
            if(row.status == "y"){
                return '<span class="layui-btn layui-btn-green layui-btn-xs">'+'正常'+'</span>'
            }else{
                return '<span class="layui-btn layui-btn-danger layui-btn-xs">'+'禁用'+'</span>'
            }
        }}

      ,{field:'ar_heji', title: '操作', align: 'center', width:200, toolbar: '#barDemo'} //单元格内容水平居中
    ]]
    ,id: 'testReload'
    // ,page: true
    // ,limit: 15
    // ,height: 315
  });
  
  var $ = layui.$, active = {
    reload: function(){
      var demoReload = $('#demoReload');
      
      //执行重载
      table.reload('testReload', {
        page: {
          curr: 1 //重新从第 1 页开始
        }
        ,where: {
          key: {
            id: demoReload.val()
          }
        }
      });
    }
  };
  
  $('.demoTable .layui-btn').on('click', function(){
    var type = $(this).data('type');
    active[type] ? active[type].call(this) : '';
  });

  $('.demoTable .layui-btn-normal').click(function(){
    var demoReload = $('#demoReload');
    // id: demoReload.val()
    url = '../execl/xls?time=month&id='+ demoReload.val()
    window.open(url);
    });
});
</script>

</body>
</html>