{include file="index/_header" title="编辑分类" /}
<article class="page-container">
	<form action="" method="post" class="form form-horizontal" id="form-member-add">
		{volist name="result" id="result" }{/volist}
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>分类排序：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$result.taxis}" placeholder="" id="sort_taxis" name="sort_taxis" style="width:100px">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>分类名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$result.sortname}" placeholder="" id="sort_name" name="sort_name" style="width:200px">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>分类别名：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$result.alias}" placeholder="" id="sort_alias" name="sort_alias" style="width:200px">
			</div>
		</div>	
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">分类模板：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="" id="sort_template" name="sort_template" style="width:200px">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>启用分类：</label>
			<div class="formControls col-xs-8 col-sm-9 skin-minimal">
				<div class="radio-box">
					<input name="sex" type="radio" id="sex-1" checked>
					<label for="sex-1">是</label>
				</div>
				<div class="radio-box">
					<input type="radio" id="sex-2" name="sex">
					<label for="sex-2">否</label>
				</div>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">分类描述：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<textarea name="description" cols="" rows="" class="textarea">{$result.description}</textarea>
				<p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</article>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="{:Url('/')}lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="{:Url('/')}lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="{:Url('/')}static/h-ui/js/H-ui.min.js"></script> 
<script type="text/javascript" src="{:Url('/')}static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本--> 
<script type="text/javascript" src="{:Url('/')}lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="{:Url('/')}lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="{:Url('/')}lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="{:Url('/')}lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	
	$("#form-member-add").validate({
		rules:{
			sort_taxis:{
					required:true,
				},
			sort_name:{
				required:true,
				minlength:1,
				maxlength:20
			},
			sort_alias:{
				required:true,
			},
			
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		<!-- submitHandler:function(form){ -->
			<!-- //$(form).ajaxSubmit(); -->
			<!-- var index = parent.layer.getFrameIndex(window.name); -->
			<!-- //parent.$('.btn-refresh').click(); -->
			<!-- parent.layer.close(index); -->
		<!-- } -->
	});
});
</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>