</body>
        </div>
    </div>
</div>

<!-- <script src="/static/admin_css/layer/layer.js" charset="utf-8"></script> 重复取消-->
<!-- <script src="/static/admin_css/layui/layui.js" charset="utf-8"></script> -->
<!-- <script src="/static/admin_css/js/admin.js" charset="utf-8"></script> -->

<!-- <script src="/static/admin_css/markdown/js/jquery.min.js"></script> 重复取消-->
<!-- <script src="/static/admin_css/markdown/js/editormd.min.js"></script> -->






<script src="/static/admin_css/js/jquery.js" charset="utf-8"></script>
<script src="/static/admin_css/layui/layui.js" charset="utf-8"></script>
<script src="/static/admin_css/js/admin.js" charset="utf-8"></script>

<script src="/static/admin_css/markdown/js/editormd.min.js"></script>
<script src="/static/admin_css/markdown/lib/marked.min.js"></script>
<script src="/static/admin_css/markdown/lib/prettify.min.js"></script>
<script src="/static/admin_css/layer/layer.js" charset="utf-8"></script>

<script type="text/javascript">
    // 侧边栏 缩小后点击自动展开
    $('.layui-nav-tree').click(function(obj){
    	if($('#LAY_app').hasClass('layadmin-side-shrink')){
        	$('#LAY_app').removeClass('layadmin-side-shrink');
    	};
    	if ($('#LAY_app_flexible').hasClass('layui-icon-spread-left')){
    		$('#LAY_app_flexible').removeClass('layui-icon-spread-left');
    		$('#LAY_app_flexible').addClass('layui-icon-shrink-right');
    	};
    });
</script>