<div class="layui-body" id="LAY_app_body" style="top:50px">
    <div class="layadmin-tabsbody-item layui-show">
	    <!-- 页面导航栏 -->
	    <div class="layui-card layadmin-header" style="display:block">
	        <div class="layui-breadcrumb" lay-filter="breadcrumb" style="visibility: visible;"> 
	        	<a lay-href="{:Url('/admin/index/index')}" _pageexpand_="2112">主页</a>
	        	<span lay-separator="">/</span>
	        	<a _pageexpand_="2116"><cite>[nav1]</cite></a>
	        	<span lay-separator="">/</span>
	        	<a _pageexpand_="2120"><cite>[nav2]</cite></a>
	        </div>
	    </div>
                
        <div class="layui-fluid">