{include file='/public/_header' /}
			<div style="height: 5px"></div>
			<!--中间内容 内部部分整块-->
			<div class="bbody">
				<!--内部部分 左侧start-->
				<?php
				$article = Db::name('games')->limit(15)->order('id desc')->paginate(10);
?>
				<div class="b_left">
					{if empty($article)}
					<h1>没有数据</h1>
					{/if}
					{volist name="article" id="data"}
					<dl class="lieb">
						<dt>
							<h3>
								<a href="/games/{$data.id}.html">{$data.title}</a>
							</h3>
							<div>
				<span>{$data.addtime}&nbsp;&nbsp;|&nbsp;
				{if !empty($data.tag)}
					标签：</span>
								{volist name="data.tag" id="vv"}
								<a href="/tag-{$vv}.html" class="secai" title="{$vv}">{$vv}</a>
								{/volist}
								<span>&nbsp;&nbsp;|&nbsp;</span>
								{/if}
								<span>浏览：{$data.view}&nbsp;&nbsp;&nbsp;留言：0 </span>
							</div>
						</dt>
					</dl>
					<div class="lieb_line"></div>
					{/volist}

					<!--分页start-->
					<div class="pagenavi">
						{$article|raw}
					</div>
					<!--分页end-->

				</div>	<!--内部部分 左侧end-->

				<!--内部部分 右侧start-->
				<div class="b_right">
					{include file='/public/_tag' /}
					{include file='/public/_sort' /}
					{include file='/public/_guidang' /}
					<!--内部部分 右侧end-->
				</div>
				{include file='/public/_footer' /}
			</div>
		</div>
	</div>
</body>
{include file='/public/_js' /}
</html>
