{volist name="result" id="v" }
<dl id="lieb">
	<dt>
		<h3 style="font-size:16px;">
			<a href="{$url}/article-{$v.id}.html">{$v.title}</a>
		</h3>
			<span>
				<em class="kan"></em>
				<em class="ping"></em>
			</span>
		{$v.date|date="Y-m-d H:i:s",###}&nbsp;&nbsp;

		{if 	condition="($v.tag_name == false)"/}
		{else /}|&nbsp;标签：{foreach name="v.tag_name" item="vo" }<a href="{:Url('/')}tag/{$vo}.html" class="secai" title="{$vo}">{$vo}</a>&nbsp;{/foreach}
		{/if}

		|&nbsp;浏览：{$v.views}&nbsp;&nbsp;&nbsp;留言：1 
	</dt>
<div class="clear"></div>
</dd>
</dl>
<div class="line"></div>
{/volist}