<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{if !empty($title)}{$title}{/if}c32's blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.33,minimum-scale=1.0,maximum-scale=1.0">
    <meta name="keywords" content="c32的个人博客" />
    <meta name="description" content="c32的个人博客" />
    <link href="/static/admin_css/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/static/admin_css/markdown/css/editormd.preview.css" rel="stylesheet" type="text/css" />
    <link href="/static/admin_css/layui/css/layui.css" rel="stylesheet" media="all">

</head>
<body>
    <div id="all">  <!--整个页面-->
        <div class="top">
            <div class="top_all">
                <div class="top_center">
                    <div style="float: left;">每天学习一点点,每天进步一点点.</div>
                    <div style="float: right;">
                        <a href="/admin" target="_blank">login</a>
                    </div>
                </div>
            </div>
        </div> <!--页面头部功能栏  登陆等功能-->

        <div id="content"> <!--中间内容部分-->
            <div style="height: 1px"></div>

            <div id="header">   <!--中间内容 头部-->
                <div class="header_top">
                    <div class="header_top_up"></div><!--title 上面空白-->
                    <div class="header_down_left"></div><!--title 左边空白-->

                    <div class="header_down_right"><!--title 内容部分-->
                        <div> <!--上面部分-->
                            <h1>c32's blog</h1><!--大标题-->
                        </div>
                        <div>
                            <div class="title_fu_null">&nbsp;</div>
                            <div class="title_fu">每天学习一点点,每天进步一点点.</div>
                        </div>

                    </div>
                    <div style="float: right;">
                        <!--搜索框-->
                        <form name="keyform" method="get" action="search"> 
                            <input type="text" name="key" value="" id="search" />
                            <input type="submit" value="搜索" id="search_btn">
                        </form>
                    </div>
                </div> <!--整个LOGO标题部分-->
                <div class="nav_all">   <!--中间内容 导航栏-->
                    <div class="nav">
                        <ul class="nav_ul">
                            <li class="nav_li">
                                <a href="/" class="nav_a">首页</a>
                            </li>
                            <!--
                            <li style="display:inline;">
                                <a href="#" style="display:inline-block; padding:0 20px;line-height:33px;color:#777777; font-family:"\5FAE\8F6F\96C5\9ED1"; font-size:16px">首页</a>
                            </li>
                            -->
                        </ul>
                    </div>
                </div>
            </div>
            
            <!--中间内容 URL路径显示  background:#FFB6C1;  -->
            <!-- <div style="height: 40px;">     -->
                <!-- <p style="padding: 9px;">当前位置： 首页</p>  -->
            <!-- </div> -->
            <div style="height: 5px"></div>
            <!--中间内容 内部部分整块-->
            <div class="bbody"> 
                <div style="background-color:#FFFFFF;float:left;width:978px;border-radius:5px;border:1px solid #CCCCCC;">
                    <dl style="background-repeat: no-repeat;background-position: center bottom;padding: 15px;">
                        <dl>
                            <dt class="wzhead">
                                <h2>{$result.title}</h2>
                                {$result.addtime|date="Y-m-d H:i:s"}&nbsp;&nbsp;|&nbsp;&nbsp;分类：
                                <a href="{:Url('/')}sort-{$result.sorts}.html" class="secai">{$result.sorts}</a>
                                |&nbsp;&nbsp;标签：
                                {if !empty($result.tagname)}
                                    {volist name="result.tagname" id="data"}
                                        <a href="{:Url('/')}tag-{$data}.html" class="secai">{$data}</a>&nbsp;
                                    {/volist}
                                {else /}
                                无
                                {/if}
                                <span style="float: right;">
                                    阅读({$result.view})&nbsp;&nbsp;&nbsp;&nbsp;评论(0)
                                </span>
                            </dt>
                            
                        </dl>
                        <!--文章内容渲染开始-->
                        <div id="test-editormd-view">
                            <textarea style="display:none;" name="test-editormd-markdown-doc"></textarea>               
                        </div>
                        <!--文章内容渲染结束-->
                    </dl>
                    <!-- <div style="border-top: 1px dashed #CCCCCC;margin:0px 0px 18px 0px;"></div> -->
<fieldset class="layui-elem-field">
    <legend>留言区域</legend>
    <div class="layui-field-box" style="padding:10px 6px;">

        <form class="layui-form" method="post" style="padding:16px 0px;">
            <div class="layui-form-item">
                <label class="layui-form-label" style="width:50px;text-align:center;">邮箱：</label>
                <div class="layui-input-inline">
                    <input type="text" name="email" required lay-verify="required" placeholder="请输入您的邮箱" autocomplete="off" class="layui-input">
                </div>
            </div>
            <!--内容框框-->
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label" style="width:50px;text-align:center;">内容：</label>
                <div class="layui-input-block" style="margin-left:80px;">
                    <textarea name="desc" required lay-verify="required" placeholder="请输入您所需要的留言的内容" class="layui-textarea" style="width: 818px;"></textarea>
                </div>
            </div>
            <!--提交按钮-->
            <div class="layui-form-item">
                <div class="layui-input-block" style="margin-left:80px;margin-top: 20px;">
                    <button class="layui-btn" lay-submit lay-filter="formadd">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
        <!--留言展示区开始-->
        <div>
            {volist name="comment" id="data"}

            <div style="border-top: 1px dashed #CCCCCC;"></div>
            <div id='reply{$data.aid}' style="width: 880px;margin-left:40px;margin:10px 40px 10px 40px;" value='123'>
                {if condition="($data.if_show == '0')"}
                    <p>
                        {$data.aid}楼&nbsp;&nbsp;: 
                    </p>
                    <p>
                        <span style="color:#f38e7e">当前留言已被屏蔽！</span>
                    </p>
                {else /}
                    <p>
                        {$data.aid}楼&nbsp;&nbsp;{$data.email} : 
                    </p>
                    <p>
                        {$data.desc}
                    </p>
                    <p>
                        {$data.addtime}
                        <a href="javacript:;" onclick="reply(this,{$data.aid})" style="margin-left:20px;color:#f38e7e;">回复</a>
                    </p>
                {/if}
            </div>
            {/volist}
            <!-- <div style="border-top: 1px dashed #CCCCCC;margin:0px 0px 18px 0px;"></div> -->
        </div>
        <!--留言展示区结束-->
    </div>
</fieldset>
                    

                </div>

                {include file='/public/_footer' /}
            </div>
        </div>
    </div>
    
</body>
<!--载入JS start-->
<script src="/static/admin_css/js/jquery.js"></script>
<script src="/static/admin_css/markdown/lib/marked.min.js"></script>
<script src="/static/admin_css/markdown/lib/prettify.min.js"></script>
<script src="/static/admin_css/markdown/js/editormd.js"></script>
<script src="/static/admin_css/layui/layui.js" charset="utf-8"></script>

<script type="text/javascript">
    layui.use('form', function(){
    var form = layui.form;
    
        form.on('submit(formadd)', function(data){
            $.ajax({
                // url: "articleadd.html",
                type: "POST",
                data: data.field,
                dataType: "json",
                success:function(data){
                    if (data.code == '1'){
                        layer.alert('留言发布成功！', {icon: 6});
                        setTimeout(function(){  //3秒后自动刷新
                            location.reload(false); //刷新，但可以引用缓存的数据。      true 强制刷新
                        }, 3000);
                    }else if(data.code == '2'){
                        layer.alert('请重新输入正确邮箱！', {icon: 5});
                    }else{
                        layer.alert('留言发布失败！', {icon: 5});
                    }
                },
                error:function(data){
                    layer.alert('留言失败，请重新填写！', {icon: 5});
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });

    $(function() {
        var testEditormdView, testEditormdView2;
        
        $.ajaxSettings.async = false;
        $.get("/index/index/articledata?id={$id}", function(markdown) {
            testEditormdView = editormd.markdownToHTML("test-editormd-view", {
                markdown        : markdown.content ,//+ "\r\n" + $("#append-test").text(),
                tocm            : true,    // Using [TOCM]
                // emoji           : true, //开启表情
                // codeFold        : true, //代码折叠
                taskList        : true,
                htmlDecode: "style,script,iframe|on*", // 开启 HTML 标签解析，为了安全性，默认不开启   
                // tex             : true,  // 开启科学公式TeX语言支持
                // flowChart       : true,  // 开启流程图支持
                // sequenceDiagram : true,  // 开启时序/序列图支持
            });
        });
        //设置同步请求，并把内容储存到浏览器缓存
        $.ajaxSettings.async = true;
    });

    //评论回复
    function reply(obj,id){
        var reply = document.getElementById('reply'+id).innerText;
        loucarr = reply.split(':');
        louceng = loucarr[0];
        wbk     = document.getElementsByName('desc')[0];
        wbk.innerHTML = wbk.innerHTML + '回复' + louceng + '\n';
        // console.log(document.getElementsByName('desc')[0].value);
    }


</script>

<!--载入JS end-->
</html>