{include file='/public/_header' /}
			<div style="height: 5px"></div>
			<div class="bbody">
				<div style="background-color:#FFFFFF;float:left;width:978px;border-radius:5px;border:1px solid #CCCCCC;">
					<dl style="background-repeat: no-repeat;background-position: center bottom;padding: 15px;">
						<dt class="wzhead">
							<h1>{$result.title}</h1>
						</dt>
						<div style="padding: 30px 0;">
							<form class="layui-form" method="post">
								<input type="hidden" name="type" value="password">
								<div class="layui-form-item">
									<label class="layui-form-label" style="width:80px;text-align:center;">文章密码：</label>
									<div class="layui-input-inline">
										<input type="password" name="article_password" required lay-verify="required" placeholder="请输入文章密码" autocomplete="off" class="layui-input">
									</div>
									<button class="layui-btn" lay-submit>查看文章</button>
								</div>
								{if !empty($error)}
								<div class="layui-form-item">
									<div class="layui-input-block" style="color:#f38e7e;">{$error}</div>
								</div>
								{/if}
							</form>
						</div>
					</dl>
				</div>
				{include file='/public/_footer' /}
			</div>
		</div>
	</div>
</body>
{include file='/public/_js' /}
</html>
