{include file="index/_header" title="c32's blog" blog="" /}
<div id="top">
	<dl>
		<span><a href="./admin" target="_blank">login</a></span>每天学习一点点,每天进步一点点.
	</dl>
</div> 
<!--顶部左边副标题和右边登陆-->
<div id="w980">
	<div id="head">
	{include file="index/top_search" title="c32's blog" /}
	<a href="#" class="logo" title="c32's blog">c32's blog</a>
	</div>

{include file="index/_nav" /}

<div id="place">当前位置：				首页</div>
<div id="cennr">
<div id="leftde" class="xian">

{include file="index/_article" title="test" /}

<div id="pagenavi">
{$page}
<div class="clear"></div>
</div>

</div>
	
{include file="index/_rigth" title="test" /}

</div>

<div class="clear"></div>

<div  id="footer">
<!--<p>Powered by <a href="http://www.emlog.net" title="采用emlog系统">emlog</a>,Theme By <a href="http://www.txcstx.cn">天兴工作室</a></p>-->

</div>

</div>

{include file="index/_footer" title="test" /}