<dl>
	<dt>[title]</dt>
		<dd>
			<ul id="blogsort">
				{volist name="articlesort" id="v" }
					<span style="line-height:10px;font-size:10px;">
						<li>
							<!-- <a href="{:Url('/')}sort/{$v.alias}">{$v.sortname}({$v.sort_count})</a> -->
							<a href="{:Url('/')}index/index/sort/{$v.alias}">{$v.sortname}({$v.sort_count})</a>
							<a href="{:Url('/')}/rss.php?sort={$v.taxis}"><img src="{:Url('/')}static/blog/rss.png" alt="" height="10px"/></a>
						</li>
					</span>
				{/volist}
			</ul>
		</dd>
</dl>