{include file="index/_header" title="c32's blog" /}
<div id="top" style="background-color:yellow">
	<dl>
		<span><a href="./admin" target="_blank">login</a></span>每天学习一点点,每天进步一点点.
	</dl>
</div> 
<!--顶部左边副标题和右边登陆-->
<div id="w980" style="background-color:#00ff00">
	<div id="head" style="background-color:#FF00FF">
		<!-- <div id="left_top" style="background-color:#9999FF;float:left;height:100%;margin-right:auto;"> -->
		<a href="#" class="logo" title="c32's blog">c32's blog</a>
		<!-- <div id="left_down" style="background-color:#FF6699;float:left;margin-left:auto;"> -->
		<!-- <div class="erji"> 222 副标题</div> -->
		
		<span id="ss1">444444</span>
		<!-- </div> -->
		<!-- </div> -->

		
		

		<div id="right">
		<span id="ss">
			<form name="keyform" method="get" action="#"> 
				<input name="keyword" class="search" type="text"  id="edtSearch"/>
				<input type="submit" value="搜索"  class="search-submit" id="btnPost"/>
			</form>
		</span>
		</div>
	</div>
</div>








</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1</br>1

<!-- </br></br>下面是视图内容</br> -->
{volist name="result" id="item" }
{$item.sortname}------{$item.sort_count}------</br>
{/volist}
</body>
</html>