
{include file="index/_header" title="Admin" /}

<input type="hidden" id="TenantId" name="TenantId" value="" />
<div class="header"></div>
<div class="loginWraper">
  <div id="loginform" class="loginBox">
    <form class="form form-horizontal" action="{:\\think\\Url::build('checkLogin')}" method="post">
      <div class="row cl">
        <label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60d;</i></label>
        <div class="formControls col-xs-8">
          <input id="username" name="username" type="text" placeholder="账户" class="input-text size-L" datatype="*" nullmsg="请填写帐号">
        </div>
      </div>
      <div class="row cl">
        <label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60e;</i></label>
        <div class="formControls col-xs-8">
          <input id="password" name="password" type="password" placeholder="密码" class="input-text size-L" datatype="*" AUTOCOMPLETE="off" nullmsg="请填写密码">
        </div>
      </div>
      <div class="row cl">
        <div class="formControls col-xs-8 col-xs-offset-3">
          <!-- <input class="input-text size-L" type="text" placeholder="验证码" onblur="if(this.value==''){this.value='验证码:'}" onclick="if(this.value=='验证码:'){this.value='';}" value="验证码:" style="width:150px;"> -->
		  <input name="captcha" class="input-text size-L" type="text" placeholder="验证码" style="width:150px;min-width: auto" datatype="*" nullmsg="请填写验证码">
          <img id="captcha" src="../../captcha" alt="验证码" title="点击刷新验证码" style="cursor:pointer;width: 150px;height: 40px">
          <!-- <img id="captcha" src="{:/captcha_src()}" alt="验证码" title="点击刷新验证码" style="cursor:pointer;width: 150px;height: 40px"> -->
		  <!-- <a id="kanbuq" href="javascript:;">看不清，换一张</a>  -->
		</div>
      </div>
      <div class="row cl">
        <div class="formControls col-xs-8 col-xs-offset-3">
          <label for="online">
            <input type="checkbox" name="online" id="online" value="">
            使我保持登录状态</label>
        </div>
      </div>
      <div class="row cl">
        <div class="formControls col-xs-8 col-xs-offset-3">
          <input name="" type="submit" class="btn btn-success radius size-L" value="&nbsp;登&nbsp;&nbsp;&nbsp;&nbsp;录&nbsp;">
          <input name="" type="reset" class="btn btn-default radius size-L" value="&nbsp;重&nbsp;&nbsp;&nbsp;&nbsp;置&nbsp;">
        </div>
      </div>
    </form>
  </div>
</div>
<div class="footer">Copyright 你的公司名称 by H-ui.admin v3.1</div>
<script type="text/javascript" src="{:Url('/')}lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="{:Url('/')}static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="{:Url('/')}lib/Validform/5.3.2/Validform.min.js"></script>
<script>
    $(function () {
       /* $("#captcha").click(function () {
            $(this).attr("src","{:captcha_src()}?t="+new Date().getTime())
        });*/

        $("#form").Validform({
            tiptype:2,
            ajaxPost:true,
            showAllError:true,
            callback:function(ret){
                if (ret.code){
                    if (ret.msg == '验证码错误!'){
                        $("#captcha").click();
                        $("[name='captcha']").val('');
                        layer.msg(ret.msg);
                    } else {
                        layer.alert(ret.msg);
                    }
                } else {
                    layer.msg("登录成功！");
                    // location.href = '{$Request.get.callback ?: \\think\\Url::build("index")}';
                    // location.href = {:Url('/')};
                }
            }
        });
    })
</script>
</body>
</html>